doctype html
html(lang="hu")
    include includes/head
    body 
        .container.position-relative.p-5
            .site-heading
                h1 404
                span.subheading Az oldal nem található
                br
                a(href='/') <- Vissza